# Tugas Besar 1 Simulasi Data

Nama : Khalil Zufar
Nim  : 41820010074

NAMA : SUKMAWATI RIZKI FIRDAUS
NIM  : 41820010127

1. Persiapkan dataset untuk klasifikasi. Jadikan kolom 'Attrition' sebagai target (y). Drop semua kolom yang dianggap tidak diperlukan. Carilah terlebih dahulu nilai korealasi antar data. DAri nilai tersebut baru jadikan hasil korelasi menjadi data target.

2. Lakukan train test split, train:test = 4:1, stratify = y. Maksudnya adalah 25% bagian Test, 75 training.

3. Lakukan feature engineering yang dianggap diperlukan pada trainset: imputation, 
    encoding, scaling, selection, dll. Lakukan transformasi serupa pada testset tanpa melakukan fitting kembali.

4. Lakukan Cross-validation dengan estimator Logistic Regression

5. Fit estimator dengan trainset. Print classification report untuk trainset dan testset untuk estimator.

6. Persiapkan dataset untuk regresi. Jadikan kolom 'MonthlyIncome' sebagai target

7. Siapkan linier regresi, Dengan menggunakan cross validation tentukan hyperparamer optimal untuk regressor linier.

In [3]:
pip install nltk

ERROR: unknown command "install nltk" - maybe you meant "install"

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

df = pd.read_csv('employee.csv')
df

,Unnamed: 0,EmployeeNumber,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0,1,Yes,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,...,1,80,0,8,0,1,6,4,0,5
1,1,2,No,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,...,4,80,1,10,3,3,10,7,1,7
2,2,3,Yes,37,Travel_Rarely,1373,Research & Development,2,2,Other,...,2,80,0,7,3,3,0,0,0,0
3,3,4,No,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,...,3,80,0,8,3,3,8,7,3,0
4,4,5,No,27,Travel_Rarely,591,Research & Development,2,1,Medical,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2935,2935,2936,No,36,Travel_Frequently,884,Research & Development,23,2,Medical,...,3,80,1,17,3,3,5,2,0,3
2936,2936,2937,No,39,Travel_Rarely,613,Research & Development,6,1,Medical,...,1,80,1,9,5,3,7,7,1,7
2937,2937,2938,No,27,Travel_Rarely,155,Research & Development,4,3,Life Sciences,...,2,80,1,6,0,3,6,2,0,3
2938,2938,2939,No,49,Travel_Frequently,1023,Sales,2,3,Medical,...,4,80,0,17,3,2,9,6,0,8
2939,2939,2940,No,34,Travel_Rarely,628,Research & Development,8,3,Medical,...,1,80,0,6,3,4,4,3,1,2

In [2]:
df['JobLevel']

0       2
1       2
2       1
3       1
4       1
       ..
2935    2
2936    3
2937    2
2938    2
2939    2
Name: JobLevel, Length: 2940, dtype: int64

In [3]:
df.isnull()

,Unnamed: 0,EmployeeNumber,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2935,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2936,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2937,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2938,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2939,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [4]:
df.nunique()

Unnamed: 0                  2940
EmployeeNumber              2940
Attrition                      2
Age                           43
BusinessTravel                 3
DailyRate                    886
Department                     3
DistanceFromHome              29
Education                      5
EducationField                 6
EnvironmentSatisfaction        4
Gender                         2
HourlyRate                    71
JobInvolvement                 4
JobLevel                       5
JobRole                        9
JobSatisfaction                4
MaritalStatus                  3
MonthlyIncome               1349
MonthlyRate                 1427
NumCompaniesWorked            10
Over18                         1
OverTime                       2
PercentSalaryHike             15
PerformanceRating              2
RelationshipSatisfaction       4
StandardHours                  1
StockOptionLevel               4
TotalWorkingYears             40
TrainingTimesLastYear          7
WorkLifeBalance                4
YearsAtCompany                37
YearsInCurrentRole            19
YearsSinceLastPromotion       16
YearsWithCurrManager          18
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df_copy = df[:]
df_copy['Attrition'] = le.fit_transform(df_copy['Attrition'])
corr = df_copy.corr()
corr.style.background_gradient(cmap='coolwarm')

<ipython-input-5-f5acd5a90e03>:7: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = df_copy.corr()
/usr/local/lib/python3.9/dist-packages/pandas/io/formats/style.py:3931: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
/usr/local/lib/python3.9/dist-packages/pandas/io/formats/style.py:3932: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax

In [6]:
cols_to_drop = ['Unnamed: 0', 'EmployeeNumber', 'DailyRate', 'Education', 'EnvironmentSatisfaction', 
                'HourlyRate', 'JobInvolvement', 'JobSatisfaction', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
                'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'TrainingTimesLastYear', 'WorkLifeBalance', 
                'YearsSinceLastPromotion', 'Over18']
df = df.drop(columns=cols_to_drop)

In [7]:
df

,Attrition,Age,BusinessTravel,Department,DistanceFromHome,EducationField,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,OverTime,StockOptionLevel,TotalWorkingYears,YearsAtCompany,YearsInCurrentRole,YearsWithCurrManager
0,Yes,41,Travel_Rarely,Sales,1,Life Sciences,Female,2,Sales Executive,Single,5993,Yes,0,8,6,4,5
1,No,49,Travel_Frequently,Research & Development,8,Life Sciences,Male,2,Research Scientist,Married,5130,No,1,10,10,7,7
2,Yes,37,Travel_Rarely,Research & Development,2,Other,Male,1,Laboratory Technician,Single,2090,Yes,0,7,0,0,0
3,No,33,Travel_Frequently,Research & Development,3,Life Sciences,Female,1,Research Scientist,Married,2909,Yes,0,8,8,7,0
4,No,27,Travel_Rarely,Research & Development,2,Medical,Male,1,Laboratory Technician,Married,3468,No,1,6,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2935,No,36,Travel_Frequently,Research & Development,23,Medical,Male,2,Laboratory Technician,Married,2571,No,1,17,5,2,3
2936,No,39,Travel_Rarely,Research & Development,6,Medical,Male,3,Healthcare Representative,Married,9991,No,1,9,7,7,7
2937,No,27,Travel_Rarely,Research & Development,4,Life Sciences,Male,2,Manufacturing Director,Married,6142,Yes,1,6,6,2,3
2938,No,49,Travel_Frequently,Sales,2,Medical,Male,2,Sales Executive,Married,5390,No,0,17,9,6,8
2939,No,34,Travel_Rarely,Research & Development,8,Medical,Male,2,Laboratory Technician,Married,4404,No,0,6,4,3,2

In [8]:
y = df['Attrition']
X = df.drop(columns=['Attrition'])

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42, stratify=y)

In [10]:
X_train_encoded = pd.get_dummies(X_train, columns=['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'OverTime'])
X_test_encoded = pd.get_dummies(X_test, columns=['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'OverTime'])

print(X_train_encoded.head())
print(X_test_encoded.head())

      Age  DistanceFromHome  JobLevel  MonthlyIncome  StockOptionLevel  \
50     48                 1         3           5381                 0
1106   30                 1         2           9714                 1
2569   45                 1         3           7441                 3
245    31                 3         3          13675                 1
2882   30                 1         1           3748                 0

      TotalWorkingYears  YearsAtCompany  YearsInCurrentRole  \
50                   23               1                   0
1106                 10              10                   8
2569                 10              10                   8
245                   9               2                   2
2882                 12              12                   8

      YearsWithCurrManager  BusinessTravel_Non-Travel  ...  \
50                       0                          0  ...
1106                     7                          0  ...
2569                     7                          0  ...
245                      2                          0  ...
2882                     7                          0  ...

      JobRole_Manufacturing Director  JobRole_Research Director  \
50                                 0                          0
1106                               0                          0
2569                               0                          0
245                                0                          1
2882                               0                          0

      JobRole_Research Scientist  JobRole_Sales Executive  \
50                             0                        0
1106                           0                        1
2569                           0                        0
245                            0                        0
2882                           0                        0

      JobRole_Sales Representative  MaritalStatus_Divorced  \
50                               0                       0
1106                             0                       0
2569                             0                       1
245                              0                       1
2882                             0                       0

      MaritalStatus_Married  MaritalStatus_Single  OverTime_No  OverTime_Yes
50                        0                     1            0             1
1106                      1                     0            1             0
2569                      0                     0            1             0
245                       0                     0            1             0
2882                      1                     0            1             0

[5 rows x 37 columns]
      Age  DistanceFromHome  JobLevel  MonthlyIncome  StockOptionLevel  \
722    38                10         1           2684                 1
2740   34                 3         2           6029                 0
2169   52                 1         4          17099                 1
1437   39                 9         5          19431                 0
1486   32                 5         1           3298                 2

      TotalWorkingYears  YearsAtCompany  YearsInCurrentRole  \
722                   3               2                   1
2740                  6               2                   2
2169                 26               9                   8
1437                 21               6                   0
1486                  7               6                   2

      YearsWithCurrManager  BusinessTravel_Non-Travel  ...  \
722                      2                          0  ...
2740                     2                          0  ...
2169                     8                          0  ...
1437                     3                          1  ...
1486                     5                          0  ...

      JobRole_Manufacturing Director  JobRole_Research Director  \
722                                0                          0
2740                               0                          0
2169                               0                          0
1437                               0                          0
1486                               0                          0

      JobRole_Research Scientist  JobRole_Sales Executive  \
722                            1                        0
2740                           0                        1
2169                           0                        0
1437                           0                        0
1486                           1                        0

      JobRole_Sales Representative  MaritalStatus_Divorced  \
722                              0                       0
2740                             0                       0
2169                             0                       0
1437                             0                       0
1486                             0                       1

      MaritalStatus_Married  MaritalStatus_Single  OverTime_No  OverTime_Yes
722                       1                     0            1             0
2740                      0                     1            1             0
2169                      1                     0            1             0
1437                      0                     1            1             0
1486                      0                     0            0             1

[5 rows x 37 columns]

In [11]:
print(df.isnull().sum())

Attrition               0
Age                     0
BusinessTravel          0
Department              0
DistanceFromHome        0
EducationField          0
Gender                  0
JobLevel                0
JobRole                 0
MaritalStatus           0
MonthlyIncome           0
OverTime                0
StockOptionLevel        0
TotalWorkingYears       0
YearsAtCompany          0
YearsInCurrentRole      0
YearsWithCurrManager    0
dtype: int64

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_final = scaler.fit_transform(X_train_encoded)

X_test_final = scaler.fit_transform(X_test_encoded)



print(X_train_final.shape)
print(X_test_final.shape)

(2205, 37)
(735, 37)

In [13]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=1000)

scores = cross_val_score(model, X_train_final, y_train, cv=5)

print('Cross-validation scores:', scores)
print('Mean cross-validation score:', scores.mean())

Cross-validation scores: [0.85714286 0.86621315 0.86621315 0.87528345 0.86621315]
Mean cross-validation score: 0.8662131519274376

In [14]:
from sklearn.svm import SVC
from sklearn.metrics import classification_report
estimator = SVC()
estimator.fit(X_train_final, y_train)

# Evaluate estimator on trainset
train_preds = estimator.predict(X_train_final)
train_report = classification_report(y_train, train_preds)
print("Classification report for trainset:\n", train_report)

# Evaluate estimator on testset
test_preds = estimator.predict(X_test_final)
test_report = classification_report(y_test, test_preds)
print("Classification report for testset:\n", test_report)

Classification report for trainset:
               precision    recall  f1-score   support

          No       0.89      0.99      0.94      1849
         Yes       0.91      0.35      0.51       356

    accuracy                           0.89      2205
   macro avg       0.90      0.67      0.72      2205
weighted avg       0.89      0.89      0.87      2205

Classification report for testset:
               precision    recall  f1-score   support

          No       0.87      0.99      0.92       617
         Yes       0.77      0.20      0.32       118

    accuracy                           0.86       735
   macro avg       0.82      0.60      0.62       735
weighted avg       0.85      0.86      0.83       735

In [15]:
y = df['MonthlyIncome']
X = df.drop(columns=['MonthlyIncome'])

In [16]:
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [17]:
hyperparameters = {'fit_intercept': [True, False], 'copy_X': [True, False], 'positive': [True, False]}

grid_search = GridSearchCV(regressor, hyperparameters, cv=10)

In [18]:
X = pd.get_dummies(X)

In [19]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [20]:
scores = cross_val_score(grid_search, X_scaled, y, cv=10, scoring='r2')
print('R-squared scores:\n', scores)
print('Mean R-squared score:\n', scores.mean())

R-squared scores:
 [0.94671522 0.94019937 0.94796961 0.94661192 0.9270781  0.94726096
 0.9402979  0.94796216 0.94678955 0.92707061]
Mean R-squared score:
 0.9417955420217238